.apps {
    table {
        width: calc(1340px + 150px);
        display: flex;
        flex-direction: column;
        background: #fff;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        &::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 10px;
        }
    }

    th,
    td {
        padding-top: 16px;
        padding-bottom: 16px;
        width: 1380px;
        text-align: center;
    }

    tr {
        display: flex;
        justify-content: space-between;
    }

    thead {
        background-color: #01384d;
        color: #fff;
    }

    tbody {
        tr {
            display: flex;
            border: 1px solid #01384d;
            border-top: none;
        }
        td {
            height: 59px;
            display: flex;
            align-items: center;
            justify-content: center;
            button {
                border: none;
                background: none;
                cursor: pointer;
                margin-left: 10px;
            }
        }
    }
}
